@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
/* font-family: 'Libre Baskerville', serif; */

/* #041562
#11468F
#DA1212*/

body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #333333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner img {
    width: 50px; /* logo perrito header*/
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 30px;
}

.menu a {
    text-decoration:hsl(from color h s l)
    color: #ff;
    font-weight: bold;
}

main {
    padding: 50px 100px 50px 300px;
}

.tituloBanner {
    text-align: 50px 100px 50px 00px;
}

.presentacion {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.presentacion div {
    flex: 1;
    margin: 0 10px;
    text-align: center;
}

.presentacion img {
    width: 100%; /* Ajusta el tamaño según sea necesario */
    border-radius: 8px;
    margin-bottom: 10px;
}

.presentacion nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.presentacion p {
    color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer img {
    width: 30px; /* Ajusta el tamaño según sea necesario */
    margin-right: 10px;
}

.logoFacebook {
    width: 25px; /* Ajusta el tamaño según sea necesario */
}

.logoInstagram {
    width: 25px; /* Ajusta el tamaño según sea necesario */
}